@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Nerko+One&display=swap");
* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
section {
  background: radial-gradient(#638ee5, #253659);
  background-repeat: no-repeat;
}
.button {
  background: #f27457;
  padding: 0.15vh 5vw;
  margin: 1vw 0px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 0px black;
  text-decoration: none;
  font-family: "Nerko One", cursive;
  font-size: 1.3em;
}
.button:hover {
  color: white;
  background: #253659;
  transition: all 500ms;
}
.input {
  background: azure;
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  margin: 1vh 5%;
}
.input::placeholder {
  text-align: center;
  color: black;
}

/* ---------- Header ---------- */

.cabecera {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: #04bf9d;
  height: 10vh;
  box-shadow: inset 0px -1px 3px black;
}
.cabecera a {
  text-decoration: none;
}
.logo_geek {
  height: 8vh;
  margin: 0px 5px;
}
.logo_superior {
  display: flex;
}
.searcher {
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  width: auto;
}

.input_buscador {
  display: block;
  width: 0vw;
  opacity: 0;
  height: 5vh;
  margin: 0px 10px 0px 0px;
}

.login {
  display: block;
  margin: 0px 5.5vh 0px 0px;
}
.icon_search {
  right: 5px;
  height: 5vh;
}
.icon_search:hover {
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
}
/* ---------- Slider ---------- */

.slider {
  position: relative;
  width: 70vw;
  height: auto;
  overflow: hidden;
  margin: 15px auto;
  border: 2px solid black;
  box-shadow: 1px 1px 2px black;
}
.slider ul {
  display: flex;
  animation: cambio 15s infinite alternate;
  width: 300%;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  29% {
    margin-left: 0;
  }

  44% {
    margin-left: -100%;
  }
  68% {
    margin-left: -100%;
  }

  89% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
.promocion {
  position: absolute;
  background: #2536594d;
  width: 80%;
  bottom: 5px;
  left: 5px;
  color: white;
  text-shadow: 1px 1px black;
  border-radius: 10px;
  padding: 10px;
}
.promocion h2 {
  font-size: 1.2em;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 5px;
}
.promocion p {
  padding: 3px 0px;
}

/* ------ Conteiner Productos ---------- */
.header a {
  margin: 5px 20px;
}
.header h1 {
  text-align: center;
  font-family: "Nerko One", cursive;
  font-size: calc(1em + 4.5vw);
  margin: 10px 0px;
  text-shadow: 1px 1px #f27457;
  text-decoration: underline 2px black;
}
.conteiner {
  display: flex;
  flex-wrap: wrap;
}
.home_prod:nth-child(n + 4) {
  display: none;
}
.producto {
  width: 40vw;
  margin: 10px auto;
  cursor: pointer;
}
.producto:hover {
  transform: scale(1.08);
  transition: all 500ms;
}
.producto img {
  width: 100%;
}
.conteiner p {
  font-size: calc(0.2em + 2.8vw);
  padding: 4px 2px;
  line-height: 1.5em;
}
.precio_producto {
  font-weight: bold;
}

/* ------Form inicio sesion---------- */
.contenedor {
  padding: 2vh 0 5vh;
}
/* Home */
.indicadores {
  display: inline-flex;
  width: 95%;
  justify-content: space-between;
  align-items: baseline;
}
.indicadores h2 {
  margin: 10px 10px 2px;
  font-size: 2em;
  font-family: "Nerko One", cursive;
  text-shadow: 1px 1px #f27457;
}
.indicadores a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px #f27457;
}
.ver_producto {
  text-align: center;
  text-decoration: underline;
  color: #f27457;
}
/* -------------------- */
.formulario {
  background: linear-gradient(180deg, #027368, #04bf9d);
  color: white;
  height: auto;
  width: 60vw;
  text-align: center;
  margin: 5vh auto;
  padding: 5px 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 4px 1px black;
  border-radius: 5px;
}
.label {
  text-align: left;
  display: block;
  margin: 15px auto 0px;
}

.formulario h2 {
  font-size: calc(1em + 3.5vw);
  font-family: "Nerko One", cursive;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}
.entrar {
  margin: 15px;
}
/* ----------    Informacion y contacto   ---------- */

.informacion {
  background: linear-gradient(180deg, #04bf9d, #027368);
  text-align: center;
}
.div_informacion {
  padding: 0px 0px 40px;
}
img.logo_inferior {
  width: 90vw;
  height: auto;
  margin-bottom: 20px;
}
.informacion p {
  padding: 8px;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 1px 1px #253659;
  letter-spacing: 1px;
}
a {
  color: white;
}

form.contacto {
  width: 90vw;
  margin: 1vh auto;
  padding: 10px 20px 1vh;
  background: #25365973;
}

/* --------------    Footer   -------------- */
footer {
  background: #253659;
  color: white;
  text-align: center;
  box-shadow: inset 0px -1px 10px black;
}
.text_footer {
  padding: 10px 0px 15px;
}
.footer {
  display: flex;
  align-self: center;
  justify-content: space-around;
}
